.user-table {
  th {
  
    vertical-align: middle;
    text-align: center;
    
  }
  
  td {
    vertical-align: middle;
    text-align: center;
  }  
}

.label-signup {
    margin-top: 5px;
}

.btn-signup {
    margin-top: 10px;
}

#table-attendances {
  th {
  
    vertical-align: middle;
    text-align: center;
    
  }
  
  td {
    vertical-align: middle;
    text-align: center;
  }  
  
  span {
    border-right: none;
  }
}