.user-table {
  th {
  
    vertical-align: middle;
    text-align: center;
    
  }
  
  td {
    vertical-align: middle;
    text-align: center;
  }  
}

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

#table-attendances {
  th {
  
    vertical-align: middle;
    text-align: center;
    
  }
  
  td {
    vertical-align: middle;
    text-align: center;
  }  
  
  span {
    border-right: none;
  }
}

/* ユーザー一覧ページ */

#table-users {
  td {
    vertical-align: middle;
  }  
}

/* モーダールのボタン */
.btn-basic-info {
    margin: 15px 0;
    width: 30%;
}

/* 土日に文字色を変える */
.sat {
  color: blue;
}

.sun {
  color: red;
}

/* 基本情報の更新ページ */
.label-basic-info{
  margin-top: 5px;
}

.btn-basic-info {
  margin-top: 10px;
}

.margin {
  margin-top: 5px;
}